/*
__   __ _   _
\ \ / /| \ | |
 \ V / |  \| | _____   ____ _
 /   \ | . ` |/ _ \ \ / / _` |
/ /^\ \| |\  | (_) \ V / (_| |
\/   \/\_| \_/\___/ \_/ \__,_|
----------- SKIN -------------

*/


., #, td, th, textarea, body, table
{
  font-family          : Tahoma,sans-serif;
  font-size            : 10px;
}

img
{
  border               : 0px;
}

/* pour flotter les images au survole */
img:hover,img:active,img:focus
{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

p table
{
  border               : 0px;
}

p td
{
  text-align           : center;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

table table
{
  border               : 0px;
}

table table td
{
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

body
{
  color                : #FFFFFF;
  margin-top           : 1px;
  margin-left          : 1px;
  background-color     : #040e1e;
  background-image     : url(img/background2.jpeg);
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-position  : top left;
  scrollbar-arrow-color: #FFFFFF;
  scrollbar-base-color: #344566;
  scrollbar-track-color: #344566;
  scrollbar-face-color: #344566;
  scrollbar-highlight-color: #344566;
  scrollbar-3dlight-color: #465673;
  scrollbar-darkshadow-color: #344566;
  scrollbar-shadow-color: #465673;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

#leftmenu{
  background-image     : url(img/background1.jpeg);
}

#leftmenu table {
  margin               : 0px;
}

body form table th table input
{
  width: 60px;
}

th, td.a, td.b, td.c, td.f, td.g, td.h, td.i,
td.j, td.k, td.l, td.m, td.n, td.o, td.q, td.r,
td.v, #leftmenu td, p td, table.s th img
{
  border               : 1px #545454 solid;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

input, select, textarea
{
  border               : 1px #545454 solid;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

th, td.a, td.b, td.c, td.f, input, select, td.g,
td.h, td.i, td.j, td.k, td.m, td.o, td.q, td.r,
td.v, td.s, #leftmenu td, p td
{
  background-color     : #000000;
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}

th
{
  text-align           : center;
  padding-left         : 3px;
  padding-right        : 3px;
}

td.a
{
  height               : 39px;
  text-align           : center;
}

td.b
{
  padding              : 3px;
}

td.c
{
  font-weight          : bold;
  color                : #FFFFFF;
  padding-left         : 3px;
  background-image     : url(img/bg1.jpeg);
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}

td.f, input, select, textarea
{
  color                : #FFFFFF;
  background-color     : #1c1c1c;
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}

textarea
{
  width                : 100%;
}

td.k input
{
  text-align           : left;
}

td.g
{
  font-weight          : bold;
  text-align           : right;
  color                : #FFFFFF;
}

td.h
{
  text-align           : center;
  color                : #FFFFFF;
}

td.i
{
  text-align           : center;
  color                : #FFFFFF;
}

td.j
{
  text-align           : center;
  color                : #FFFFFF;
}

td.k, td.k input
{
  text-align           : center;
  color                : #FFFFFF;
}

td.l
{
  background-color     : #000000;
  color                : #FFFFFF;
  vertical-align       : top;
  padding              : 3px;
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}

td.m
{
  font-weight          : bold;
  text-align           : right;
  width                : 86px;
  color                : #FFFFFF;
}

td.n
{
  font-weight          : bold;
  text-align           : right;
  width                : 89px;
  text-align           : center;
  color                : #FFFFFF;
}

td.o
{
  text-align           : center;
  color                : #FFFFFF;
}

td.q
{
  font-weight          : bold;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
  text-align           : center;
  vertical-align       : middle;
  color                : #FFFFFF;
}

td.r
{
  text-align           : right;
  color                : #FFFFFF;
}

td.v
{
  font-weight          : bold;
  text-align           : right;
  color                : #f7f7f7;
}

td.s
{
  color                : #FFFFFF;
}

table.s th
{
  border               : 0px;
}

table.s th img
{
  width                : 89px;
  height               : 89px;
}

div.z
{
  font-size            : 10px;
  font-weight          : bold;
  color                : #FFFFFF;
}

a
{
  color                : #FFFFFF;
  text-decoration      : none;
  font-weight          : bold;
}

a.s
{
  color                : #FFFFFF;
}

a.t
{
  color                : #FFFFFF;
}

a:hover
{
  color                : #CDD7F8;
  text-decoration      : underline;
}

#leftmenu td
{
  color                : #FFFFFF;
  border-top           : 0px;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

#leftmenu div a
{
  padding-left         : 7px;
  height               : 100%;
  width                : 100%;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

#leftmenu div a:link
{
  height               : 100%;
  width                : 100%;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

#leftmenu div a:visited
{
  height               : 100%;
  width                : 100%;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

#leftmenu div a:hover
{
  background-image     : url(img/link.gif);
  background-repeat    : no-repeat;
  background-position  : left;
  height               : 100%;
  width                : 108px;
  text-decoration      : none;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
}

#leftmenu
{
  margin-top           : 10px;
}

h2
{
  font-size            : 14px;
  font-family          : Tahoma,sans-serif;
  border-bottom        : 0px #344566; solid;
  width                : 98%;
  text-align           : center;
}